{%load static%}
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static "CSS/job.css"%}">
  </head>
<body>
  <div class="container">
    <div class="jumbotron" align="center">
      <div class="container">
        <h1>Welcome to RSPC Job portal</h1>
        <h2>
        <a class="btn btn-primary" href="/pune" role="button">Pune Jobs</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" href="/banglore" role="button">Banglore Jobs</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" href="/chennai" role="button">Chennai Jobs</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" href="/hydrabad" role="button">Hydrabad Jobs</a>&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
  </body>
</html>
