<!DOCTYPE html>
{%load static%}
<html>
<head>
  <link rel="stylesheet" href="{%static "CSS/news.css"%}">
</head>
<body>
  <h2>Welcome to Movies News Information</h2>
    <ul>
      <li>{{N1}}</li>
      <li>{{N2}}</li>
      <li>{{N3}}</li>
      <li>{{N4}}</li>
      <li>{{N5}}</li>
      </ul>
    <img src="{%static "images/Amitabh.png"%}">
    <img src="{%static "images/Kishor.png"%}">
    <img src="{%static "images/Rajesh.png"%}">
    <img src="{%static "images/Burman.png"%}">
  </body>
</html>
